.tittle {
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 36px;
  font-weight: 300px;
  color: rgb(95, 95, 95);
  text-align: center;
  margin: 5% 0 5% 0; 
}

.jumbo-box {
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  border: solid 1px #dbdbdb; 
  margin: 0 10% 0 10%; 
  max-height: 18em;
  max-width: 85%;
}

.description {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: column;
  align-content: stretch;
  padding: 2%;
}

.text-description {
  display:inline-block;
  color: #999;
  font-size: 15px;
  padding: 0%;
  height: 80rem;
  margin-bottom: 1%;
  min-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top-text {
  color: #999;
  font-size: 15px;
  margin-bottom: 0%;
}

.price {
  font-size: 20px;
  margin-top: 0%;
  padding: 0;
}

.location {
  font-size: 18px;
  color: #2a63cb;
  margin-bottom: -10px;
  margin-top: -10px;
  height: 400px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.city {
  font-size: 14px;
  color: #999;
  margin-top: 0%;
}

.image {
  background: url(build.jpg);
  box-shadow: inset -30px -35px 70px 0px rgba(0,0,0,0.7);
  border-radius: 5px 0 0 5px;
  background-position: center;
  background-repeat: no-repeat;
  width: 800em;
  height: auto;
  overflow: hidden;
}

.picture {
  margin-top: -50%;
  width: 100%;
} 
