body{
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-flow: column;
  font-family: "Open Sans", sans-serif;
}

.container{
  width: 320px;
  border-radius: 5px;
  align-self: center;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.title{
  align-self: center;
  font-size: 18px;
  color: rgb(74, 74, 74);
}

.payment{
  width: 300px;
  margin-bottom: 10px;
  align-self: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
  display: flex;
  flex-wrap: wrap;
}

.payment-title{
  display: flex;
  flex-wrap: nowrap;
  padding: 2%;
}

.payment-title > img{
  width: 25px;
  height: 25px;
  align-self: center;
}

.payment-title > p{
  color: rgb(74, 74, 74);
  font-size: 16px;
  margin-left: 10px;
}

.cards{
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  width: 100%;
  height: 50px;
}

.js-mastercard-btn{
  background-image:url(mastercard.png);
  width: 60px;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.js-visa-btn{
  background-image:url(visa.png);
  width: 65px;
  height: 30px;
  margin-left: 10%;
  margin-right: 5%;
}

.js-amex-btn{
  background-image:url(amex.png);
  width: 60px;
  height: 45px;
  margin-left: 5%;
  margin-right: 5%;
}

.card-btn{
  background-repeat:no-repeat;
  background-size: 87%;
  border-color: rgba(204, 204, 204, 0.658);
  border-radius: 4px;
  background-color: transparent;
  background-position:center;
  align-self: center;
}

.form{
  margin-top: 10px;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-wrap: wrap;
  padding-left: 7%;
}

.form-title{
  font-size: 14px;
  margin:20px 0 0 0;
  color: rgb(74, 74, 74);
}

.form-input{
  height: 30px;
  width: 90%;
  border:solid 1px rgb(236, 236, 236);
  background-color: white;
  color: rgba(65, 65, 65, 0.658);
  font-size: 16px;
  padding-left: 10px;
}

.mastercard-footer{
  margin: 20px 0;
  font-weight: bold;
  font-size: 12px;
  color: rgba(97, 97, 97, 0.658);
  text-align: center;
}

.js-mastercard, .js-amex-disclaimer{
  display: none;
}

.js-disclaimer{
  margin-left:7%;
  margin-bottom: 10%;
  color: rgb(155, 155, 155);
  font-size: 12px;
}

.save-card{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  font-size: 14px;
  width: 90%;
  padding: 0 0 0 5%;
  margin: 20px 0;
  border:solid 1px rgb(236, 236, 236);
  background-color: white;
}

.js-pay-btn{
  display: none;
  border:none;
  background-color:  rgb(141, 122, 255);
  color:white;
  font-size: 16px;
  width: 92%;
  border-radius: 2px;
  height: 40px;
}

.cvc, .card-validity{
  display: flex;
  flex-flow: column;
  width: 35%;
}

.card-validity{
  margin-right: 10%;
}

.save-card-input {
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: white;
  border-radius: 2px;
  border: 2px solid rgb(141, 122, 255);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.save-card-input:checked {
  background: rgb(141, 122, 255);
}

.save-card-input:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.save-card-input:checked:after {
  display: block;
}

.save-card-container{
  display: flex;
  background-color: white;
  width: 90%;
  height: 7%;
  margin: 5% 0;
  padding: 5% 0 0 2%;
}

.save-card-description{
  margin-left: 2%;
}