<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    </head>
    
    <body>
    <%= yield %>
    </body>
    <%= stylesheet_link_tag 'reports'%>
</html>